{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Create a new serie
{% endblock %}

{% block body %}
    <div>
        todo: formulaire de création de séries
    </div>
{% endblock %}